body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-toggle button {
    width: 48%;
    padding: 10px;
    font-weight: bold;
    border: none;
    background: #232f3e;
    color: white;
    cursor: pointer;
}

.form {
    display: none;
    flex-direction: column;
}

.form.active {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    margin-top: 10px;
    background-color: #ff9900;
    border: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    
}
